
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');


.pokedex h1 {
  padding: 20px;
  text-align: center;
  font-family: 'Honk';
  font-size: 4em;
}

.pokemon-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pokemon-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

  .pokemon-card img {
    max-width: 100%;
  }

  .pokemon-card h2 {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }

  .pokemon-card p {
    margin: 5px 0;
    font-family: 'Roboto', sans-serif;
  }

.types {
  margin-top: 10px;
}

  .types span {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9em;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
  }

.stats {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

  .stats div {
    flex: 1;
    text-align: center;
  }

  .stats h3 {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }

  .stats p {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
  }

.dashboard-button {
  width: 150px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: block;
}

  .dashboard-button:hover {
    background-color: #0056b3;
  }

.search-bar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

  .search-bar input[type="text"] {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }

    .search-bar input[type="text"]:focus {
      border-color: #0056b3;
    }

  .search-bar button {
    width: 150px;
    height: 40px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

    .search-bar button:hover {
      background-color: #0056b3;
    }

.pokemon-card:hover {
  transform: scale(1.05); 
  background-color: #dcdcdc;
  cursor: pointer; 
}

.favorite-button {
  width: 150px;
  height: 40px;
  background-color: #ff6a00;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: block;
  margin-top: 10px;
}
.favorite-button:hover {
  background-color: #ffd800;
}



.favorites-button {
  width: 150px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: block;

}

  .favorites-button:hover {
    background-color: #0056b3;
  }


.favorites-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; 
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.button-margin {
  margin: 0 5px;
}

.page-button-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.page-button {
  width: 150px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

  .page-button:hover {
    background-color: #0056b3;
  }

.page-indicator {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block; 
  text-align: center; 
}

.remove-favorite-button {
  width: 150px;
  height: 40px;
  background-color: #ff6a00;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: block;
  margin-top: 10px;
}

  .remove-favorite-button:hover {
    background-color: #ffd800;
  }

