<div class="homepage-container">
  <h1>Welcome to PokéWRLD</h1>
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="Pikachu">
  <form (ngSubmit)="login()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password">
    <button type="submit">Login</button>
  </form>
</div>
